text2location/data/*
text2location/models/*
outputs/*
notebooks/lightning_logs/*
Flask/app/models*
text2location/__pycache__
.coverage
.mypy_cache
.pytest_cache
.venv
!data/README.md
!models/README.md
!outputs/README.md
.env