<!DOCTYPE html>
<html>
    <head>
        <title>入力フォーム</title>
        <!-- <style>
        .box1{
        display: inline-block;
        margin: 2em auto;
        padding: 1em;
        width: 90%;
        background-color: #fff; /* 背景色 */
        border: 1px solid #111; /* 枠線 */
        }
        </style> -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">
    </head>
    <body>
            <div class="box1">
                <form action="/texttolocation/index" method="POST">
                <p><textarea name="name" cols="30" rows="10" class=".m-form-text" placeholder="文字を入力してください"></textarea></p>
                <label for="r1">東京：</label><input type="radio" id="r1" name="radio" value="東京">
                <label for="r2">全国：</label><input type="radio" id="r2" name="radio" value="全国">
                <input type="submit" value="送信">
                </form>
            </div>
    </body>
</html>
